<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="font-size: 0.9rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-10">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">添加服务接口检测</h3>
          <div class=" float-sm-right">
              <a th:href="@{'/heathMonitor/list'}">返回</a>
          </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
        <form role="form" id="form1" th:action="@{'/heathMonitor/save'}">
            <input type="hidden" name="id" th:value="${heathMonitor.id}"/>
            <div class="card-body">
                <div class="form-group">
                    <label for="fromMailName"><font color="red">*</font>服务名称</label>
                    <input type="text" autocomplete="off"  th:value="${heathMonitor.appName}" class="validate[required,maxSize[50]] form-control" name="appName" id="appName" placeholder="输入应用服务名称">
                </div>
                <div class="form-group">
                    <label>服务分类</label>
                    <select class=" form-control"  name="heathGroup" id="heathGroup">
                        <option     value="" >无</option>
                        <th:block th:each="item1,iterStat1 : ${group}">
                            <option th:selected="${heathMonitor.heathGroup==item1.name}"    th:value="${item1.name}" th:text="${item1.name}" >aa</option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fromPwd"><font color="red">*</font>服务接口URL（必须为http或https）<a target="_blank" href="/wgcloud/heathMonitor/fun">替换参数查看</a></label>
                    <input type="text" autocomplete="off"  th:value="${heathMonitor.heathUrl}" class="validate[required,maxSize[255]] form-control" name="heathUrl" id="heathUrl" placeholder="如http://192.168.1.1:9999/wgcloud/heath">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>请求类型</label>
                    <select class="validate[required] form-control"  name="requestType" id="requestType">
                        <option th:selected="${heathMonitor.requestType=='get'}"    value="get" >get</option>
                        <option th:selected="${heathMonitor.requestType=='post'}"    value="post" >post</option>
                    </select>
                </div>
                <div class="form-group">
                    <label >请求头header</label>
                    <textarea rows="5" type="text" autocomplete="off"  th:text="${heathMonitor.headerParam}" class="validate[maxSize[2550]] form-control" name="headerParam" id="headerParam" placeholder="采用json格式填入"></textarea>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>请求参数类型</label>
                    <select  class="validate[required] form-control"  name="paramType" id="paramType">
                        <option th:selected="${heathMonitor.paramType=='application/x-www-form-urlencoded'}"   value="application/x-www-form-urlencoded" >application/x-www-form-urlencoded</option>
                        <option th:selected="${heathMonitor.paramType=='application/json'}"   value="application/json">application/json</option>
                        <option th:selected="${heathMonitor.paramType=='text/xml'}"   value="text/xml" >text/xml</option>
                        <option th:selected="${heathMonitor.paramType=='application/octet-stream'}"   value="application/octet-stream" >application/octet-stream</option>
                        <option th:selected="${heathMonitor.paramType=='multipart/form-data'}"   value="multipart/form-data" >multipart/form-data</option>
                    </select>
                </div>
                <div class="form-group">
                    <label >请求参数</label>
                    <textarea rows="5" type="text" autocomplete="off"  th:text="${heathMonitor.requestParam}" class="validate[maxSize[2550]] form-control" name="requestParam" id="requestParam" placeholder="参数统一用json格式,后台根据参数类型自动转换{}"></textarea>
                </div>
                <div class="form-group">
                    <label >测试脚本(js脚本，已经有三个变量html、json和jsona,返回true或false,你只需要填写中间逻辑部分)</label>
                    <textarea rows="5" type="text" autocomplete="off"  th:text="${heathMonitor.testScript}" class="validate[maxSize[2550]] form-control" name="testScript" id="testScript" placeholder="function test (html, json,jsona) {&#13;&#10;//你的逻辑判断代码&#13;&#10;return true; }"></textarea>
                    <label>checkHour('2022-01-01 08:00:00',36) 判断传入时间和当前时间比小于36小时返回true，大于36小时返回false</label><br>
                    <label>parseZH('x年x月x日x时x分x秒'),可以是其中一段不用是全部; 返回成date类型;</label>
                    <label></label>>
                </div>
                <div class="form-group">
                    <label >前置服务名称</label>
                    <input type="text" autocomplete="off"  th:value="${heathMonitor.frontId}" class="validate[maxSize[50]] form-control" name="frontId" id="frontId" placeholder="依赖的应用服务监控">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>是否调度</label>
                    <select class="validate[required] form-control"  name="scheduled" id="scheduled">
                        <option th:selected="${heathMonitor.scheduled=='运行'}"    value="运行" >运行</option>
                        <option th:selected="${heathMonitor.scheduled=='暂停'}"    value="暂停" >暂停</option>
                    </select>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="button" th:onclick="test()"  class="btn btn-primary btn-sm">测试</button>
                <button type="submit" class="btn btn-primary btn-sm">保存</button>
                <button type="button"  th:onclick="goback()"  class="btn bg-gradient-danger btn-sm">返回</button>
            </div>

        </form>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->


  </div>

        </div>
      </div>
    </section>
  </div>


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->
<link rel="stylesheet" th:href="@{'/static/js/jQuery/validationEngine.jquery.css'}" type="text/css"/>
<script th:src="@{'/static/js/jQuery/jquery.validationEngine-zh_CN.js'}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{'/static/js/jQuery/jquery.validationEngine.js'}" type="text/javascript" charset="utf-8"></script>
<script th:inline="javascript">
    $(document).ready(function(){
        $("#form1").validationEngine();
    });
    function goback() {
        window.location.href = "/wgcloud/heathMonitor/list";
    }
    function test() {
        var u =  $('#form1').attr('action');
        $('#form1').attr('target','_blank');
        $('#form1').attr('action','/wgcloud/heathMonitor/test');
        $('#form1').submit();
        $('#form1').attr('target','_self');
        $('#form1').attr('action',u);

    }
</script>
</body>
</html>
