<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgcloud.mapper.HeathMonitorMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.HeathMonitor">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="APP_NAME" property="appName" jdbcType="CHAR" />
		<result column="HEATH_URL" property="heathUrl" jdbcType="CHAR" />
		<result column="HEATH_STATUS" property="heathStatus" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="HEADER_PARAM" property="headerParam" jdbcType="VARCHAR" />
		<result column="REQUEST_PARAM" property="requestParam" jdbcType="VARCHAR" />
		<result column="LAST_RESULT" property="lastResult" jdbcType="VARCHAR" />
		<result column="TEST_SCRIPT" property="testScript" jdbcType="VARCHAR" />
		<result column="LAST_STATUS" property="lastStatus" jdbcType="INTEGER" />
		<result column="FRONT_ID" property="frontId" jdbcType="VARCHAR" />
		<result column="LAST_TIME" property="lastTime" jdbcType="TIMESTAMP" />
		<result column="PARAM_TYPE" property="paramType" jdbcType="VARCHAR" />
		<result column="REQUEST_TYPE" property="requestType" jdbcType="VARCHAR" />
		<result column="COOKIE_INFO" property="cookieInfo" jdbcType="VARCHAR" />
		<result column="HEATH_GROUP" property="heathGroup" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="tableColumnList">
		ID,APP_NAME, HEATH_URL,HEATH_STATUS,CREATE_TIME,HEADER_PARAM,REQUEST_PARAM,LAST_RESULT,TEST_SCRIPT,LAST_STATUS,FRONT_ID,LAST_TIME,PARAM_TYPE,REQUEST_TYPE,COOKIE_INFO,HEATH_GROUP
	</sql>

	<sql id="queryByParams">
		<if test="heathStatus != null">
			<![CDATA[ AND HEATH_STATUS = #{heathStatus} ]]>
		</if>
		<if test="heathGroup != null">
			<![CDATA[ AND HEATH_GROUP = #{heathGroup} ]]>
		</if>
		<if test="startTime != null and endTime !=null and startTime !='' and endTime != '' ">
			<![CDATA[ AND CREATE_TIME >= #{startTime} and CREATE_TIME <=#{endTime}]]>
		</if>
	</sql>

	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM HEATH_MONITOR
		WHERE ID=#{id}
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM HEATH_MONITOR
		WHERE ID = #{id}
	</delete>

	<delete id="deleteByDate"  parameterType="map">
		DELETE FROM HEATH_MONITOR WHERE   <![CDATA[  CREATE_TIME <=#{endTime}]]>
	</delete>

	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		HEATH_MONITOR
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="save" parameterType="com.wgcloud.entity.HeathMonitor">
		INSERT INTO HEATH_MONITOR
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="appName != null">APP_NAME,</if>
			<if test="heathUrl != null">HEATH_URL,</if>
			<if test="heathStatus != null">HEATH_STATUS,</if>
      		<if test="createTime != null" >CREATE_TIME,</if>
			<if test="headerParam != null" >HEADER_PARAM,</if>
			<if test="requestParam != null" >REQUEST_PARAM,</if>
			<if test="lastResult != null" >LAST_RESULT,</if>
			<if test="testScript != null" >TEST_SCRIPT,</if>
			<if test="lastStatus != null" >LAST_STATUS,</if>
			<if test="frontId != null" >FRONT_ID,</if>
			<if test="lastTime != null" >LAST_TIME,</if>
			<if test="paramType != null" >PARAM_TYPE,</if>
			<if test="requestType != null" >REQUEST_TYPE,</if>
			<if test="cookieInfo != null" >COOKIE_INFO,</if>
			<if test="heathGroup != null" >HEATH_GROUP</if>

    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="appName != null" >#{appName},</if>
			<if test="heathUrl != null" >#{heathUrl},</if>
			<if test="heathStatus != null" >#{heathStatus},</if>
      		<if test="createTime != null" >#{createTime},</if>
			<if test="headerParam != null" >#{headerParam},</if>
			<if test="requestParam != null" >#{requestParam},</if>
			<if test="lastResult != null" >#{lastResult},</if>
			<if test="testScript != null" >#{testScript},</if>
			<if test="lastStatus != null" >#{lastStatus},</if>
			<if test="frontId != null" >#{frontId},</if>
			<if test="lastTime != null" >#{lastTime},</if>
			<if test="paramType != null" >#{paramType},</if>
			<if test="requestType != null" >#{requestType},</if>
			<if test="cookieInfo != null" >#{cookieInfo},</if>
			<if test="heathGroup != null" >#{heathGroup}</if>
    	</trim>
	</insert>

	<insert id="insertList" parameterType="java.util.List" >
		INSERT INTO HEATH_MONITOR (ID,APP_NAME,HEATH_URL,HEATH_STATUS,CREATE_TIME,HEADER_PARAM,
		REQUEST_PARAM,LAST_RESULT,TEST_SCRIPT,LAST_STATUS,FRONT_ID,LAST_TIME,PARAM_TYPE,REQUEST_TYPE,COOKIE_INFO,HEATH_GROUP)  VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(#{item.id},#{item.appName},#{item.heathUrl},#{item.heathStatus},#{item.createTime},
			#{item.headerParam},#{item.requestParam},#{item.lastResult},#{item.testScript},#{item.lastStatus},#{item.frontId},#{item.lastTime},#{item.paramType},#{item.requestType},
			#{item.cookieInfo},#{item.heathGroup})
		</foreach>
	</insert>

	<update id="updateList" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index"  separator=";">
			UPDATE HEATH_MONITOR
			<set>
				<if test="item.appName != null">
					APP_NAME = #{item.appName},
				</if>
				<if test="item.heathUrl != null">
					HEATH_URL= #{item.heathUrl},
				</if>
				<if test="item.heathStatus != null" >
					HEATH_STATUS= #{item.heathStatus},
				</if>
				<if test="item.createTime != null" >
					CREATE_TIME= #{item.createTime},
				</if>
				<if test="item.headerParam != null" >
					HEADER_PARAM= #{item.headerParam},
				</if>
				<if test="item.requestParam != null" >
					REQUEST_PARAM= #{item.requestParam},
				</if>
				<if test="item.lastResult != null" >
					LAST_RESULT= #{item.lastResult},
				</if>
				<if test="item.lastStatus != null" >
					LAST_STATUS= #{item.lastStatus},
				</if>
				<if test="item.frontId != null" >
					FRONT_ID= #{item.frontId},
				</if>
				<if test="item.lastTime != null" >
					LAST_TIME= #{item.lastTime},
				</if>
				<if test="item.paramType != null" >
					PARAM_TYPE= #{item.paramType},
				</if>
				<if test="item.requestType != null" >
					REQUEST_TYPE= #{item.requestType},
				</if>
				<if test="item.cookieInfo != null" >
					COOKIE_INFO= #{item.cookieInfo},
				</if>
				<if test="item.testScript != null" >
					TEST_SCRIPT= #{item.testScript},
				</if>
				<if test="item.heathGroup != null" >
					HEATH_GROUP=#{item.heathGroup}
				</if>
			</set>
			WHERE ID = #{item.id}
		</foreach>
	</update>

	<update id="updateById" parameterType="com.wgcloud.entity.HeathMonitor">
		UPDATE HEATH_MONITOR
		<set>
			<if test="appName != null">
				APP_NAME = #{appName},
			</if>
			<if test="heathUrl != null">
				HEATH_URL = #{heathUrl},
			</if>
			<if test="heathStatus != null">
				HEATH_STATUS = #{heathStatus},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime},
			</if>
			<if test="headerParam != null" >
				HEADER_PARAM= #{headerParam},
			</if>
			<if test="requestParam != null" >
				REQUEST_PARAM= #{requestParam},
			</if>
			<if test="lastResult != null" >
				LAST_RESULT= #{lastResult},
			</if>
			<if test="lastStatus != null" >
				LAST_STATUS= #{lastStatus},
			</if>
			<if test="frontId != null" >
				FRONT_ID= #{frontId},
			</if>
			<if test="lastTime != null" >
				LAST_TIME= #{lastTime},
			</if>
			<if test="paramType != null" >
				PARAM_TYPE= #{paramType},
			</if>
			<if test="requestType != null" >
				REQUEST_TYPE= #{requestType},
			</if>
			<if test="cookieInfo != null" >
				COOKIE_INFO= #{cookieInfo},
			</if>
			<if test="testScript != null" >
				TEST_SCRIPT= #{testScript},
			</if>
			<if test="heathGroup != null" >
				HEATH_GROUP=#{heathGroup}
			</if>
		</set>
		WHERE ID = #{id}
	</update>

	<select id="countByParams" parameterType="map" resultType="java.lang.Integer">
		SELECT count(*)  FROM HEATH_MONITOR t
		<where>
			<include refid="queryByParams" />
		</where>
	</select>


	<select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM HEATH_MONITOR t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>

	<select id="selectWarnItems" parameterType="map" resultMap="resultMap">
        SELECT * from (SELECT
		<include refid="tableColumnList" />
		FROM HEATH_MONITOR t
		 where HEATH_STATUS != 200
		ORDER BY CREATE_TIME DESC) a
        <where>
            <include refid="queryByParams" />
        </where>
	</select>

	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM HEATH_MONITOR
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>

</mapper>
